@import '../../styles.scss';

.profileScreen {
    height: 100vh;
    color: $netflix-white;    

    &__body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 50%;
        padding-top: 8%;
        max-width: 800px;

        > h1 {
            font-size: 60px;
            font-weight: 400;
            border-bottom: 1px solid #282c2d;
            margin-bottom: 20px;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        > img {
            height: 100px;
        }
    }

    &__details {
        flex: 1;
        margin-left: 25px;
        > h2 {
            background-color: gray;
            padding: 15px;
            font-size: 15px;
            padding-left: 20px;
        }
    }

    &__plans {
        width: 100%;
        margin-top: 25px;
        > h3 {
            border-bottom: 1px solid #282c2d;
            padding-bottom: 10px;
        }
    }

    &__signout {
        padding: 10px 20px;
        font-size: 1rem;
        margin-top: 5%;
        width: 100%;
        color: $netflix-white;
        background-color: $neflix-red;
        font-weight: 600;
        border: none;
        cursor: pointer;
    }

    &__subscriptions {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &__plan {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;

        &-details {
            display: flex;
            flex-direction: column;
        }

        &-button {
            @include netflix-button-2;
        }

        &--current {
            .profileScreen__plan-button {
                @include netflix-button-1;
                margin-right: 0;
                border-radius: unset;
            } 
        }
    }
}